@charset "utf-8";
/* CSS Document */

.navigation-wrapper {
	width:961px;
	background:url(../image/navigation-background.png) 0 0 no-repeat;
	padding:32px 0px;
}

.menu-wrapper {
	display:table;
	margin:0px 26px;
}

.navigation-wrapper ul {
	list-style:none;
}

.navigation-wrapper ul li {
	display:block;
	float:left;
	margin:0px 11px;
}

.navigation-wrapper ul li:hover a {
	color:#09F;
}

.navigation-wrapper ul li a {
	text-decoration:none;
	color:#787864;
	font-size:14px;
	font-family:"Trajan Pro", "Times New Roman", sans-serif;
}